<div class="login-page">
  <div class="login-brand">
    <div class="login-logo">
      @if (settingsStore.logoUrl(); as logoUrl) {
      <img [src]="logoUrl" [alt]="settingsStore.companyName()" class="login-logo-image" />
      } @else { VOS }
    </div>
    <h1 class="login-title">{{ settingsStore.companyName() }}</h1>
    <p class="login-tagline">{{ 'auth.login.tagline' | translate }}</p>
  </div>

  <nz-card class="login-card">
    <form nz-form [formGroup]="form" (ngSubmit)="submit()">
      <nz-form-item>
        <nz-form-label nzFor="username" nzNoColon class="sr-only"
          >{{ 'common.username' | translate }}</nz-form-label
        >
        <nz-form-control>
          <nz-input-group nzPrefixIcon="user">
            <input
              id="username"
              type="text"
              nz-input
              formControlName="username"
              [placeholder]="'auth.login.usernamePlaceholder' | translate"
              autocomplete="username"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="password" nzNoColon class="sr-only"
          >{{ 'common.password' | translate }}</nz-form-label
        >
        <nz-form-control>
          <nz-input-group nzPrefixIcon="lock">
            <input
              id="password"
              type="password"
              nz-input
              formControlName="password"
              [placeholder]="'auth.login.passwordPlaceholder' | translate"
              autocomplete="current-password"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      @if (errorMessage(); as message) {
      <nz-alert nzType="error" [nzMessage]="message" nzShowIcon class="form-alert"></nz-alert>
      }

      <button
        nz-button
        nzType="primary"
        nzBlock
        nzSize="large"
        type="submit"
        [nzLoading]="loading()"
        [disabled]="form.invalid"
      >
        {{ 'auth.login.submit' | translate }}
      </button>
    </form>
  </nz-card>
</div>
